section .card .card-body form input {
    width: 100%;
    padding: .4rem .6rem;
    border: 1px solid rgba(167, 167, 167, 0.568);
    border-radius: 5px;
}

section .card .card-body form input:focus {
    outline: 3px solid #61adfeb0;
}