<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    {% endblock styles %}

    <title>
        {% block title %}{% endblock title %}
    </title>
</head>

<body class="container bg-light">
    <header class="container">
        <nav class="navbar navbar-light border-bottom fixed-top">
            <div class="container">
                <a class="navbar-brand fst-italic fs-3 fw-bold text-decoration-none" href="{% url 'home' %}">Instagram</a>
                <div class="search pt-2">
                    <form class="d-flex">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class='bx bx-search'></i>
                            </span>
                            <input type="text" class="form-control shadow-none bg-light" placeholder="Search"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </form>
                </div>
                <div class="nav-icons">
                    <a href="{% url 'home' %}" class="btn"><i class='bx bx-home-alt fs-3'></i></a>
                    <a href="{% url 'upload' %}" class="btn"><i class='bx bx-message-square-dots fs-3'></i></a>
                    <a href="{% url 'upload' %}" class="btn"><i class='bx bx-message-square-add fs-3'></i></a>
                    <a href="{% url 'profile' %}" class="btn"><i class='bx bx-compass fs-3'></i></a>
                    <a href="{% url 'upload' %}" class="btn"><i class='bx bx-heart fs-3'></i></a>
                    <a href="{% url 'profile' %}">
                        <img class="img-fluid" src="{{ user.profile.profile_photo.url }}" />
                    </a>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}

    {% endblock content %}


    {% block scripts %}
    {% bootstrap_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock scripts %}
</body>

</html>