{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock styles %}

{% block title %} Instagram {% endblock title %}

{% block content %}
<section>
        <div class="container-fluid content rounded mx-auto">
            <div class="container-fluid d-flex justify-content-center flex-column align-items-center">
                <div
                    class="container-fluid stories border p-4 d-flex align-items-center rounded-3">
                    <a href="#">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            alt="" srcset="">
                        <small>pete</small>
                    </a>
                    
                    <a href="#">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            alt="" srcset="">
                            <small>pete</small>
                    </a>
                    <a href="#">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            alt="" srcset="">
                            <small>pete</small>
                    </a>
                    <a href="#">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            alt="" srcset="">
                            <small>pete</small>
                    </a>
                    <a href="#">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            alt="" srcset="">
                            <small>pete</small>
                    </a>
                    <a href="#">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            alt="" srcset="">
                            <small>pete</small>
                    </a>
                    <a href="#">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            alt="" srcset="">
                            <small>pete</small>
                    </a>
                    <a href="#">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            alt="" srcset="">
                            <small>pete</small>
                    </a>
                    <a href="#">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            alt="" srcset="">
                            <small>pete</small>
                    </a>
                    <a href="#">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            alt="" srcset="">
                            <small>pete</small>
                    </a>
                    
                </div>

                <div class="posts pt-4">
                    <div class="card mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center bg-transparent">
                            <div class="d-flex">
                                <img class="img-fluid"
                                    src="https://cdn.mos.cms.futurecdn.net/BDgsokLv9kpxc5AwJwtexn.jpg" alt="">
                                <div class="d-flex flex-column ms-4">
                                    <span class="fw-bold">hiking me</span>
                                    <span>
                                        <small class="fst-light text-secondary">japan</small>
                                    </span>
                                </div>
                            </div>

                            <a href="" class="text-dark">
                                <i class='bx bx-dots-horizontal-rounded fs-3'></i>
                            </a>
                        </div>
                        <div class="post-image">
                            <img src="https://media.macphun.com/img/uploads/customer/how-to/579/15531840725c93b5489d84e9.43781620.jpg?q=85&w=1340"
                                class="card-img-top img-fluid" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="card-title d-flex justify-content-between">
                                <div>
                                    <button class="btn"><i class='bx bx-heart fs-3'></i></button>
                                    <button class="btn"><i class='bx bx-message-rounded fs-3'></i></button>
                                    <button class="btn"><i class='bx bx-paper-plane fs-3'></i></button>
                                </div>

                                <div>
                                    <i class='bx bx-bookmark fs-3'></i>
                                </div>
                            </div>
                            <p class="fw-bold">
                                52 likes
                            </p>
                            <p class="card-text fw-light">Some quick example text to build on the card title and make up
                                the bulk
                                of
                                the card's content.
                            </p>

                            <div>
                                <form class="d-flex align-items-center">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-transparent" id="basic-addon1">
                                            <i class='bx bxs-face'></i>
                                        </span>
                                        <input type="text" class="form-control shadow-none"
                                            placeholder="Add a comment..." aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>

                                    <a href="" class="text-decoration-none">Post</a>
                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center bg-transparent">
                            <div class="d-flex">
                                <img class="img-fluid"
                                    src="https://cdn.mos.cms.futurecdn.net/BDgsokLv9kpxc5AwJwtexn.jpg" alt="">
                                <div class="d-flex flex-column ms-4">
                                    <span class="fw-bold">hiking me</span>
                                    <span>
                                        <small class="fst-light text-secondary">japan</small>
                                    </span>
                                </div>
                            </div>

                            <a href="" class="text-dark">
                                <i class='bx bx-dots-horizontal-rounded fs-3'></i>
                            </a>
                        </div>
                        <div class="post-image">
                            <img src="https://media.macphun.com/img/uploads/customer/how-to/579/15531840725c93b5489d84e9.43781620.jpg?q=85&w=1340"
                                class="card-img-top img-fluid" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="card-title d-flex justify-content-between">
                                <div>
                                    <button class="btn"><i class='bx bx-heart fs-3'></i></button>
                                    <button class="btn"><i class='bx bx-message-rounded fs-3'></i></button>
                                    <button class="btn"><i class='bx bx-paper-plane fs-3'></i></button>
                                </div>

                                <div>
                                    <i class='bx bx-bookmark fs-3'></i>
                                </div>
                            </div>
                            <p class="fw-bold">
                                52 likes
                            </p>
                            <p class="card-text fw-light">Some quick example text to build on the card title and make up
                                the bulk
                                of
                                the card's content.
                            </p>

                            <div>
                                <form class="d-flex align-items-center">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-transparent" id="basic-addon1">
                                            <i class='bx bxs-face'></i>
                                        </span>
                                        <input type="text" class="form-control shadow-none"
                                            placeholder="Add a comment..." aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>

                                    <a href="" class="text-decoration-none">Post</a>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container sidebar ms-3">
                <aside class="p-3 rounded position-fixed">
                    <div class="d-flex profile align-items-center">
                        <a href="">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg" />
                        </a>
                        <p class="ms-5 fw-bold">your name</p>
                    </div>

                    <div class="mt-4">
                        <p class="text-secondary">Suggestions For You</p>

                        <div class="d-flex justify-content-between mb-3">
                            <div class="d-flex">
                                <a href="">
                                    <img class=""
                                        src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                                        alt="">
                                </a>
                                <div class="ms-3 d-flex flex-column">
                                    <span class="fw-bold">username</span>
                                    <span>New to instagram</span>
                                </div>
                            </div>

                            <a href="#" class="text-decoration-none fw-bold">follow</a>
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <div class="d-flex">
                                <img class=""
                                    src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                                    alt="">
                                <div class="ms-3 d-flex flex-column">
                                    <span class="fw-bold">username</span>
                                    <span>New to instagram</span>
                                </div>
                            </div>

                            <a href="#" class="text-decoration-none fw-bold">follow</a>
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <div class="d-flex">
                                <img class=""
                                    src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                                    alt="">
                                <div class="ms-3 d-flex flex-column">
                                    <span class="fw-bold">username</span>
                                    <span>New to instagram</span>
                                </div>
                            </div>

                            <a href="#" class="text-decoration-none fw-bold">follow</a>
                        </div>
                    </div>

                </aside>
            </div>
        </div>

    </section>
{% endblock content %}