{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock styles %}

{% block title %} Instagram {% endblock title %}

{% block content %}
<section class="container">
    <div class="content d-flex justify-content-center">

        <div class="center d-flex justify-content-center align-items-center flex-column me-4">
            <div class="container stories d-flex border p-4 d-flex rounded-3">
                <a href="#">
                    <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                        alt="" srcset="">
                    <small>pete</small>
                </a>

                <a href="#">
                    <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                        alt="" srcset="">
                    <small>pete</small>
                </a>
                <a href="#">
                    <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                        alt="" srcset="">
                    <small>pete</small>
                </a>
                <a href="#">
                    <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                        alt="" srcset="">
                    <small>pete</small>
                </a>
                <a href="#">
                    <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                        alt="" srcset="">
                    <small>pete</small>
                </a>
                <a href="#">
                    <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                        alt="" srcset="">
                    <small>pete</small>
                </a>
                <a href="#">
                    <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                        alt="" srcset="">
                    <small>pete</small>
                </a>
                <a href="#">
                    <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                        alt="" srcset="">
                    <small>pete</small>
                </a>
                <a href="#">
                    <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                        alt="" srcset="">
                    <small>pete</small>
                </a>
                <a href="#">
                    <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                        alt="" srcset="">
                    <small>pete</small>
                </a>
            </div>



            <div class="posts pt-4">
                {% for post in posts %}
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center bg-transparent">
                        <div class="d-flex">
                            {% if user.profile.profile_photo %}
                            <a href="{% url 'profile' %}">
                                <img class="img-fluid" src="{{ user.profile.profile_photo.url }}"/>
                            </a>
                            {% endif %}
                            <div class="d-flex flex-column ms-4">
                                <span class="fw-bold">{{ post.profile.user.username }}</span>
                                <span>
                                    {% if post.location %}
                                    <small class="fst-light text-secondary">japan</small>
                                    {% endif %}
                                </span>
                            </div>
                        </div>

                        <a href="" class="text-dark">
                            <i class='bx bx-dots-horizontal-rounded fs-3'></i>
                        </a>
                    </div>
                    <div class="post-image">
                        <img src="{{ post.image.url }}" class="card-img-top img-fluid" alt="{{ post.image_name }}"
                            style="max-height: 30rem;">
                    </div>
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <div>
                                <button class="btn"><i class='bx bx-heart fs-3'></i></button>
                                <button class="btn" type="button" class="btn text-light" data-bs-toggle="modal"
                                    data-bs-target="#post{{post.id}}"><i
                                        class='bx bx-message-rounded fs-3'></i></button>
                                <button class="btn"><i class='bx bx-paper-plane fs-3'></i></button>
                            </div>

                            <div>
                                <i class='bx bx-bookmark fs-3'></i>
                            </div>
                        </div>
                        <p class="fw-bold">
                            {{ post.reaction }} likes
                        </p>
                        <p class="card-text fw-light">
                            <small class="fw-bold">{{ post.profile.user.username }}</small>
                            <small class="fs-light">{{ post.image_caption }}</small>
                        </p>

                        <div id="commentsdiv">
                            <p class="card-text fw-light">
                                {% if comments %}
                                {% for comment in comments %}
                                {% if comment.image.id == post.id %}
                                <div>
                                    <small class="fw-bold">{{ comment.profile.user.username }}</small>
                                    <small class="fs-light">{{comment}}</small>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </p>
                        </div>

                        <div class="pt-3">
                            <form method="post" action="{% url 'comment' post.id %}">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    {{form.errors}}
                                    <span class="input-group-text">
                                        <i class='bx bxs-face'></i>
                                    </span>
                                    {{form.comment}}
                                    <span class="input-group-text">
                                        <button class="btn btn-sm">Post</a>
                                    </span>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="post{{post.id}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex" style="display: grid; grid-template-columns: 1fr 1fr">
                                <div style="max-width: 50%;">
                                    <img src="{{ post.image.url }}" class="card-img-top img-fluid"
                                        alt="{{ post.image_name }}">
                                </div>

                                <div class="mt-4 ms-4">
                                    <div class="card-text">
                                        <p class="card-text fw-light">
                                            <span class="fw-bold fs-6 clearfix">Author</span>
                                            <small class="fw-bold">{{ post.profile.user.username }}</small>
                                            <small class="fs-light">{{ post.image_caption }}</small>
                                        </p>
                                       <div id="modalcomments" class="border px-1 rounded">
                                            <p class="card-text fw-light">
                                                {% if comments %}
                                                {% for comment in comments %}
                                                {% if comment.image.id == post.id %}
                                                <div>
                                                    <small class="fw-bold">{{ comment.profile.user.username }}</small>
                                                    <small class="fs-light">{{comment}}</small>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </p>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="fs-2">No posts at the moment</p>
                {% endfor %}
            </div>
        </div>


        <div class="aside rounded">
            <div class="sidebar p-3">
                <div class="d-flex profile align-items-center">
                    {% if user.profile.profile_photo %}
                <a href="{% url 'profile' %}">
                    <img class="img-fluid" src="{{ user.profile.profile_photo.url }}"/>
                </a>
                {% endif %}

                    <a href="{% url 'profile' %}" class="text-decoration-none">
                        <p class="ms-5 fs-4 fw-light text-dark">{{ user.username }}</p>
                    </a>
                </div>

                <div class="mt-5 suggestinons">
                    <p class="text-secondary">Suggestions For You</p>

                    <div class="d-flex justify-content-between mb-3">
                        <div class="d-flex">
                            <a href="">
                                <img class=""
                                    src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                                    alt="">
                            </a>
                            <div class="ms-3 d-flex flex-column">
                                <span class="fw-bold">username</span>
                                <span>New to instagram</span>
                            </div>
                        </div>

                        <a href="#" class="text-decoration-none fw-bold">follow</a>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <div class="d-flex">
                            <img class=""
                                src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                                alt="">
                            <div class="ms-3 d-flex flex-column">
                                <span class="fw-bold">username</span>
                                <span>New to instagram</span>
                            </div>
                        </div>

                        <a href="#" class="text-decoration-none fw-bold">follow</a>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <div class="d-flex">
                            <img class=""
                                src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                                alt="">
                            <div class="ms-3 d-flex flex-column">
                                <span class="fw-bold">username</span>
                                <span>New to instagram</span>
                            </div>
                        </div>

                        <a href="#" class="text-decoration-none fw-bold">follow</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}
{% endblock content %}