{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block title %} Profile {% endblock title %}

{% block content %}
<section class="container d-flex flex-column justify-content-center align-items-center">
    <div class="profile d-flex justify-content-around">
        <div class="dp pe-5">
            {% if user.profile.profile_photo %}
            <img src="{{ user.profile.profile_photo.url }}" alt="">
            {% else %}
            {% endif %}
        </div>

        <div class="profile-info">
            <p class="fs-3 fw-light">
                {{user.username}}
            </p>
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'logout' %}">
                    <button type="button" class="btn btn-sm btn-danger">logout</button>
                </a>

                <a href="{% url 'update_profile' %}">
                    <button type="button" class="btn btn-primary btn-sm">update</button>
                </a>
            </div>
            {% endif %}

            <div class="my-2">
                <p>
                    {{user.profile.bio}}
                </p>
            </div>

            {% if user.profile.bio %}
            <div class="d-flex justify-content-between">
                <p>{{ user.image.count }}posts</p>
                <p>800followers</p>
                <p>200following</p>
            </div>

            <div class="bio">
                <small>
                    {{user.profile.bio}}
                </small>
            </div>

            {% endif %}
        </div>

    </div>

    <div class="my-posts mt-4 border-top text-center">
        <p class="fs-6 fw-bold text-center pt-2">
            <i class='bx bx-grid'></i>
            POSTS
        </p>


        <div class="posts">
            {% for post in posts %}
            {% if post.profile == user.profile %}
            <img class="img-fluid"
                src="{{ post.image.url }}"
                alt="">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock scripts %}
{% endblock content %}