{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block title %} Profile {% endblock title %}

{% block content %}
<section class="container d-flex flex-column justify-content-center align-items-center">
    <div class="profile d-flex justify-content-around">
        <div class="dp pe-5">
            {% if user.profile.profile_photo %}
            <img src="{{ user.profile.profile_photo.url }}" alt="">
            {% else %}

            No photo
            {% endif %}
        </div>

        <div class="profile-info">
            <p class="fs-3 fw-light">
                {{user.username}}
            </p>

            {{user.profile.bio}}

            {% if user.profile.bio %}
            <div class="d-flex justify-content-between">
                <p>{{ user.image.count }}posts</p>
                <p>800followers</p>
                <p>200following</p>
            </div>

            <div class="bio">
                <small>
                    {{user.profile.bio}}
                </small>
            </div>

            {% else %}
            <p class="fs-5">update profile</p>
            {{user.id}}
            <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{form.profile_photo}}
                </div>
                <div class="mb-3">
                    {{form.bio}}
                </div>
                <div class="mb-3">
                    {{form.birth_date}}
                </div>
                <div class="mb-3">
                    {{form.location}}
                </div>
                <p class="fs-3">{{ form.errors }}</p>
                <button type="submit" class="btn btn-primary w-100 fw-bold btn-sm">upload</button>
            </form>
            {% endif %}
        </div>

    </div>

    <div class="my-posts mt-4 border-top text-center">
        <p class="fs-6 fw-bold text-center pt-2">
            <i class='bx bx-grid'></i>
            POSTS
        </p>

        <div class="posts">
            <img class="img-fluid"
                src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                alt="">
            <img class="img-fluid"
                src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                alt="">
        </div>
    </div>
</section>

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock scripts %}
{% endblock content %}